/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #f8f7f7;
    min-width: 100vw;
    min-height: 100vh;
}

/* navbar estilos */
#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .1rem;
    background-color: white;
}

#navbar a {
    text-decoration: none;
    color: #7A6960;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font: 30px 'magneto-bold', sans-serif;

}

#navbar a img {
    width: 4rem;
    height: 4rem;
}

#navbar ul li {
    display: none;
    position: relative;
    color: #4e4039;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}

/* main estilos */
main {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* welcome section */


/* ozono section */

/* caracteristicas section */

/* productos section */

/* clientes section */

/* contacto section */

/* footer estilos */
footer {
    display: flex;
    justify-content: center;
    bottom: 0;
}

/* Responsive styles - media queries & keyframes */
@media screen and (min-width:768px) {
    #navbar ul li {
        display: inline;
    }
}