@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
 */

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #f8f7f7;
    overflow-x: hidden;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #212529;
}

/* navbar estilos */
#navbar {
    z-index: 100;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .1rem;
    background-color: white;
}

#navbar a {
    text-decoration: none;
    color: #7A6960;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font: 30px 'magneto-bold', sans-serif;
}

#navbar a img {
    width: 4rem;
    height: 4rem;
}

#navbar ul li {
    display: none;
    position: relative;
    color: #4e4039;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}

/* main estilos */
main {
    padding: 0 2rem;
    display: block;
    padding-top: 18vh;
}

/* welcome section */

/* ozono section */

/* caracteristicas section */
#services {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#services .section-body {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    align-items: baseline;
}

#services .section-title {
    text-align: center;
    margin: 2rem 0;
}

#services .section-title h3 {
    color: #C2B7B1;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
}

#services .section-title p {
    color: #4e4039;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

#services .section-title p::after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 2px;
    background: #eb5d1e;
    left: calc(50% - 30px);
    margin-top: 1rem;
}

#services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 0 0 40px 0;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    text-align: center;
    border-bottom: 3px solid #fff;
    display: flex;
    flex-direction: column;
    
    gap: .5rem;
    min-height: 20rem;
}

.icon-box .title a {
    font-family: Raleway;
    text-decoration: none;
    color: #111111;
    font-weight: 700;
    font-size: 1.2rem;
}

.icon-box .description {
    font-weight: 400;
    font-size: .938rem;
    line-height: 2rem;
}

.icon-box .icon i {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 15px;
    color: #ef7f4d;
}

/* productos section */
.products-body img {
    max-width: 100%;
    height: auto;
}

/* clientes section */

/* contacto section */

/* footer estilos */
footer {
    display: flex;
    justify-content: center;
    bottom: 0;
}

/* Responsive styles - media queries & keyframes */
@media screen and (min-width:768px) {
    #navbar ul li {
        display: inline;
    }

    #services .section-body {
        flex-wrap: wrap;

    }

    #services .section-body .icon-box {
        max-width: 50%;
        flex: 0 0 48%;
    }
}


/* ------------------------------- */
/* ----- SCROLL ANIMATIONS ------- */
/* ------------------------------- */

.fade-in {
    opacity: 0;
}

.fade-in.appear {
    transition: 2s;
    opacity : 1;
}

.from-left {
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
}

.from-right {
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
}

.from-left,
.from-right {
    transition: opacity 1s, transform 1s,
    -webkit-transform 1s;
    opacity: 0;
}

.from-left.appear,
.from-right.appear {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}