@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
 */
:root {
    --background1: #fef8f5;
    --background2: #f8f9fa;
}

:target {
    padding-top: 4rem;
}

/* reset y estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background1);
    overflow-x: hidden;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #212529;
}

main section:nth-child(odd) {
    background-color: var(--background1);
}

main section:nth-child(even) {
    background-color: var(--background2);
}

.hidden {
    display: none;
}

.section-title {
    text-align: center;
    margin: 2rem 0;
}

.section-title h3 {
    color: #C2B7B1;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
}

.section-title p {
    color: #4e4039;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.section-title p::after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 2px;
    background: #eb5d1e;
    left: calc(50% - 30px);
    margin-top: 1rem;
}

/* navbar estilos */
#navbar {
    z-index: 100;
    position: fixed;
    padding: .5rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

#navbar a {
    text-decoration: none;
    color: #4e4039;
}

#navbar>a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font: 1rem 'magneto-bold', sans-serif;
}

#navbar>a img {
    width: 2rem;
    height: 2rem;
}

#navbar ul {
    display: none;
}

#navbar ul li {
    position: relative;
    color: #4e4039;
    padding: 10px 5px;
    transition: 0.3s;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}

.active {
    color: #eb5d1e !important;
    transition: color 1s;
}

#navbar ul li a:hover {
    color: #eb5d1e;
}

#navbar #homeLink {
    position: absolute;
    left: 0;
    opacity: 0;
}

#burger {
    z-index: 200;
    width: 60px;
    height: 45px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#burger span {
    display: block;
    position: absolute;
    height: 6px;
    width: 60%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.closed {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#burger span:nth-child(1) {
    top: 0px;
}

#burger span:nth-child(2),
#burger span:nth-child(3) {
    top: 15px;
}

#burger span:nth-child(4) {
    top: 30px;
}

#burger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#burger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#burger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#burger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

/* dropdown menú para diseño responsive */
#navbar .dropdown {
    display: block;
    position: fixed;
    margin-top: 3.75rem;
    transition: height 2s ease-in-out;
    list-style-type: none;
    background-color: #fef8f5;
    top: 0;
    left: 60%;
    width: 100vw;
    height: 150vh;
    padding: .9rem;
}

/* main estilos */
main {
    display: block;
}

section {
    min-height: 100vh;
    width: 100%;
    display: block;
}

/* welcome section */
#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.heroContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.heroText {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.heroText h1 {
    font-size: 28px;
    font-weight: bold;
    color: #4e4039;
    padding: 20px 0px;
}

.heroText h2 {
    color: #a08f86;
    margin-bottom: 50px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

.heroText a {
    align-self: center;
    font-size: 16px;
    padding: 8px 28px;
    border-radius: 3px;
    border: none;
    color: #fff;
    background: #eb5d1e;
    text-decoration: none;
}

.heroText a:hover {
    opacity: .8;
    transition: 0.3s;
}

.heroImg {
    display: flex;
    justify-content: center;
}

.shake-vertical {
    animation: shake-vertical 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

/* ozono section */
#about {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;

    border-bottom: 1px solid #f8f9fa88;
    text-align: center;
    padding-top: 0px;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
}

.divAboutImg {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.divAboutText {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.aboutHeaderDiv {
    display: flex;
    flex-direction: column;
}

.aboutHeaderDiv h3 {
    font-weight: 700;
    font-size: 34px;
    color: #4e4039;
}

.aboutHeaderDiv p {
    font-size: 15px;
    color: #5a6570;
    padding: 2rem;
}

.cardAboutContainer {
    display: flex;
    padding: 0rem 2rem 2rem 2rem;
}

.cardAbout {
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
}

.cardAbout i {
    font-size: 38px;
    margin-top: 15px;
    color: #f39e7a;
}

.cardAbout h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
    color: #7a6960;
}

.cardAbout p {
    font-size: 15px;
    color: #5a6570;
    line-height: 1.6;
}

/* caracteristicas section */
#services {
    display: flex;
    flex-direction: column;
    text-align: center;

}

#services .section-body {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: baseline;
}

#services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 0 0 40px 0;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    border-bottom: 3px solid #fff;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    min-height: 20rem;
    flex-basis: 90%;
}

.icon-box .title a {
    font-family: Raleway;
    text-decoration: none;
    color: #111111;
    font-weight: 700;
    font-size: 1.2rem;
}

.icon-box .description {
    font-weight: 400;
    font-size: .938rem;
    line-height: 2rem;
}

.icon-box .icon i {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 15px;
    color: #ef7f4d;
}

/* productos section */


#products .section-title {
    text-align: center;
    margin: 2rem 0;
}

#products .section-title h3 {
    color: #C2B7B1;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
}

#products .section-title p {
    color: #4e4039;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

#products .section-title p::after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 2px;
    background: #eb5d1e;
    left: calc(50% - 30px);
    margin-top: 1rem;
}

#products .filter-container ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 1rem;
    padding: 1rem;
    font-weight: 600;
}

#products .filter-container ul li {
    cursor: pointer;
}

#products .portfolio-container {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    transition: all 5s ease-in-out;
}

#products .portfolio-wrap {
    width: 96%;
    max-width: 360px;
    cursor: pointer;

}

#products .portfolio-wrap:hover::before {
    left: 0;
}

#products .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
    bottom: 20px;
}

#products .portfolio-wrap::before {
    content: "";
    background: rgba(122, 105, 96, 0.6);
    position: absolute;
    left: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    border-radius: 12px;
}

#products .portfolio-wrap img {
    width: 100%;
    min-height: 100%;
    height: auto;
    border-radius: 12px;
}

#products .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    color: #fff;
    text-transform: uppercase;
    padding: 0 1.5rem;
}


/* faq section */
#faq {
    background-color: var(--background1);
    padding: 60px 0;
}

#faq .accordion {
    --bs-accordion-bg: var(--background1);
}

#faq .section-title {
    text-align: center;
    margin: 2rem 0;
    padding-bottom: 2rem;
}

#faq .section-title h3 {
    color: #C2B7B1;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
}

#faq .section-title p {
    color: #4e4039;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

#faq .section-title p::after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 2px;
    background: #eb5d1e;
    left: calc(50% - 30px);
    margin-top: 1rem;
}

#faq .accordion-item {
    border: none;
}

#faq .accordion-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
}

#faq .accordion-button:hover {
    color: #eb5d1e;
}

#faq .accordion-button:focus {
    border: none;
    box-shadow: none;
}

#faq .accordion-button:not(.collapsed) {
    background-color: var(--background1);
    box-shadow: none;
}

#faq .accordion-button:not(.collapsed) {
    color: #eb5d1e;
}

#faq .accordion-button::after:active {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23eb5d1e'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#faq .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 16 16' fill='%23eb5d1e'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#faq .accordion-button:hover::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23eb5d1e'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#faq .accordion-body {
    font-size: small;
    padding: 0.5rem 2rem;
}

#accordionFlushExample ul {
    list-style-type: circle;
    margin-bottom: 0;
}


/* clientes section */
#clients {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.slider {
    margin-top: 7rem;
    height: 20rem;
    width: 75vw;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    filter: opacity(.6);
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.795) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 10rem;
    position: absolute;
    width: 200px;
    z-index: 2;
    top: 4.5rem;
}

.slider::after {
    right: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: -2rem;
}

.slider ul {
    list-style: none;
    display: flex;
    align-items: center;
    width: 90vw;
    gap: 6rem;
    animation: carrousel 10s linear infinite alternate-reverse;
}

.slider img {
    height: 8rem;
}

.slider li {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 18rem;
}

.slide-off {
    transform: translate(-4rem);
}

/* contacto section */
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#contact .map-container {
    width: 85vw;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    border-bottom: 3px solid #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: #d3531a 3px solid;
    border-bottom: #d3531a 3px solid;
    padding: 2rem;
}

#contact a {
    text-decoration: none;
    color: #d3531a;
}

#contact a i {
    font-size: 2rem;
}

#contact .map-container .iframe-container {
    width: 95%;
    border-radius: 20px;
    overflow: hidden;
}

/* botón volver arriba */
#toTop {
    background-color: #d3531a;
    color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 0.25rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    border: 2px solid #fef8f5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    opacity: 0;
}

#toTop a {
    height: 2.5rem;
    width: 2.5rem;
    padding-top: 0.25rem;
}

#toTop svg {
    fill: #fef8f5;
    height: 2rem;
    width: 1.5rem;
}

#toTop.visible {
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

/* boton de whatsapp */
.wsp {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 8px;
    right: 80px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    font-size: 35px;
    z-index: 100;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
.wsp:hover {
    border: 1px solid black;
    background-color: #F4F4F4;
    color: black;
    transition: .15s;
}

/* footer estilos */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    box-shadow: 3px 2px 15px rgba(0, 0, 0, 0.1);
    padding-top: 8px;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

footer a {
    color: gray;
    text-decoration: none;
}

.ref:hover {
    text-decoration: underline;
}

.iconDivFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

footer i {
    padding: 0px 5px;
}

footer i:hover {
    color: rgb(55, 192, 195);
}

/* Responsive styles - media queries & keyframes */
@media screen and (min-width:768px) {
    #navbar {
        transition: all 1s;
        padding: 1rem;
        justify-content: space-around;
    }

    #navbar>a {
        font: 1.5rem 'magneto-bold', sans-serif;
    }

    #navbar>a img {
        width: 3rem;
        height: 3rem;
    }

    #navbar ul li,
    #navbar ul {
        display: inline;
    }

    #navbar #burger {
        display: none;
    }

    #navbar #dropdown {
        display: none;
    }

    #services .section-body {
        flex-wrap: wrap;

    }

    #services .section-body .icon-box {
        align-items: stretch;
        max-width: 50%;
        flex: 0 0 40%;

    }


    #welcome {
        flex-direction: row;
        text-align: left;
    }

    .heroContainer {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 60px;
    }

    .heroText {
        max-width: 50%;
        padding: 60px 60px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .heroText h1 {
        font-size: 48px;
    }
    
    .heroText h2 {
        font-size: 24px;
    }

    .heroText a {
        align-self: flex-start;
    }

    .heroImg {
        max-width: 50%;
        align-items: center;
        justify-content: end;
    }


    #about {
        height: 100%;
        padding-top: 0px;
    }

    .aboutContainer {
        height: 100vh;
        max-width: 100vw;
        padding: 40px 20px;
        display: flex;
        flex-direction: row;
    }

    .divAboutImg {
        max-width: 50%;
        justify-content: start;
    }

    .divAboutImg img{
        width: 1400px;
    }

    .aboutHeaderDiv p {
        text-align: left;
    }
}

@media screen and (min-width:1024px) {
    #services .section-body .icon-box {
        align-items: stretch;
        max-width: 23%;
        flex: 0 0 23%;

    }

}

/* keyframe carrousel */
@keyframes carrousel {

    100% {
        transform: translateX(-18rem);
    }
}

/*shake de la img del welcome*/
@keyframes shake-vertical {

    0%,
    100% {
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateY(-8px);
    }

    20%,
    40%,
    60% {
        transform: translateY(8px);
    }

    80% {
        transform: translateY(6.4px);
    }

    90% {
        transform: translateY(-6.4px);
    }
}

/* ------------------------------- */
/* ----- SCROLL ANIMATIONS ------- */
/* ------------------------------- */

.fade-in {
    opacity: 0;
}

.fade-in.appear {
    transition: 2s;
    opacity: 1;
}

.from-left {
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
}

.from-right {
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
}

.from-bottom {
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
}

.from-top {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
}

.from-left,
.from-right,
.from-bottom,
.from-top {
    transition: opacity 1s, transform 1s,
        -webkit-transform 1s;
    opacity: 0;
}

.from-left.appear,
.from-right.appear {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

.from-bottom.appear,
.from-top.appear {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}